section {
  height: calc(100vh - 300px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  overflow-y: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}